<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Looking Glass Portal</title>

    <link rel="stylesheet" type="text/css" href="style.css">

    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/speech-commands"></script>
</head>

<body>
    <p><strong>ID:</strong> {{ subject_name }}</p>

    <div id="countdown">5</div>
    <div id="imageContainer"></div>
    <input type="text" id="userInput" placeholder="Ranking">

</body>

<script>
    var countdownElement = document.getElementById("countdown");
    var imageContainer = document.getElementById("imageContainer");
    var userInput = document.getElementById("userInput");

    var countdown = 5;
    var images = []; /* json here */

    function startCountdown() {
        var countdownInterval = setInterval(function() {
            countdownElement.textContent = countdown;
            countdown--;

            if (countdown < 0) {
                /* blink! */
                clearInterval(countdownInterval);
                countdownElement.style.display = "none";
                displayImages();
            }
        }, 1000);
    }

    function displayImages() {
        var currentIndex = 0;

        function showNextImage() {
            var imageObj = images[currentIndex];
            if (imageObj) {
                imageContainer.innerHTML = `<img src="${imageObj.img_link}" alt="Image">`;
                currentIndex++;

                // Record user input
                var userInputValue = userInput.value;
                recordUserInput(userInputValue);

                // Reset input
                userInput.value = "";

                setTimeout(showNextImage, 3000); // Display each image for 3 seconds
            } else {
                // all images displayed, save user inputs to a text file
                saveUserInputs();
            }
        }

        showNextImage();
    }

    function recordUserInput(input) {
        // send user input to Flask server
        fetch('/save_inputs', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: 'userInput=' + input,
        })
        .then(response => response.text())
        .then(userInput => console.log(userInput))
        .catch(error => console.error('Error:', error));
    }

    window.onload = startCountdown;
</script>