<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Viewer</title>
</head>
<body>
    <img id="image" src="{{ url_for('static', filename='images/' + images[0]) }}" alt="Image" style = "display: block; margin-left: auto; margin-right: auto; margin-top: 30vh">
    <!-- <div>
        <button onclick="nextImage()">Next Image</button>
    </div> -->
    <br/>
    <div style = "margin: 0 auto; text-align: center;">
        <form id="userInputForm" action="/submit" method="post">
            <label for="user_number">Rank:</label>
            <input type="text" id="user_number" name="user_number">
            <button type="submit">Submit</button>
        </form>
    </div>
    <script>
        var images = {{ images | tojson }};
        var currentImageIndex = 0;

        document.getElementById("userInputForm").addEventListener("submit", function(event) {
            event.preventDefault(); // prevent default form submission
            
            // get form data
            var userInputValue = document.getElementById("user_number").value;
            var formData = new FormData(this);
            formData.append("user_number", userInputValue);
            
            // send AJAX request to submit form data
            fetch("/submit", {
                method: "POST",
                body: formData
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                // load next image after form submission
                nextImage();
            })
            .catch(error => {
                console.error("There was a problem with the fetch operation:", error);
            });
        });
    
        function nextImage() {
            if (currentImageIndex < images.length - 1) {
                console.log(currentImageIndex)
                currentImageIndex++;
                document.getElementById("image").src = "{{ url_for('static', filename='images/') }}" + images[currentImageIndex];
                document.getElementById("user_number").value = ""; // clear previous input
            }
        }
    </script>
</body>
</html>
