/* #countdown {
    font-size: 48px;
    text-align: center;
} */

#imageContainer {
    text-align: center;
    margin: 0 auto;
    margin-top: 25vh;
    max-width: 500px;
    min-height: 300px;
    border: 5px solid black;;
}

#userInput {
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    display: block;
}